html {
    font-size: 10px;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}


body {
    padding: 0;
    margin:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body.activated {
    background-image: url('./gigagif.gif');
}

#giga-button {
    display: none;
    position: relative;
    box-sizing: content-box;
    padding: 0;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
    border: .5rem solid rgb(172, 172, 172);

    transition: border .3s;
    cursor: pointer;
    user-select: none;

    background-image: url(./GIGACHAD.jpg);
    background-size: contain;

}#giga-button:focus {
    outline:0;
}

body.activated > #giga-button {
    opacity: 0;
}

#giga-start {
    background-color: transparent;
    border: .2rem solid #7f7f7f;
    border-radius: 2rem;
    padding: .5rem;
    font-size: 3rem;
    color: #7f7f7f;
    cursor: pointer;
}
#giga-start:hover, 
#giga-start:focus {
    border-color:initial;
    color: initial;
}