html {
    font-size: 10px;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}


body {
    padding: 0;
    margin:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body.activated {
    background-image: url('./gigagif.gif');
}

#giga-button {
    position: relative;
    box-sizing: content-box;
    padding: 0;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
    border: .5rem solid rgb(255, 115, 115);

    transition: border .3s;
    cursor: pointer;
    user-select: none;

    background-image: url(./GIGACHAD.jpg);
    background-size: contain;

}
#giga-button:hover {
    border: .5rem solid rgb(255, 40, 40);
}
#giga-button:focus {
    outline:0;
}

body.activated > #giga-button {
    opacity: 0;
}